<section>
    <div class="grid-container">
        Vehicle Id (Input)
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile>
                <mat-card class="dashboard-card">
                    <mat-card-header><mat-card-title>Vehicle In Highway</mat-card-title></mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <div>Card Content Here</div>
                      </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>  
    </div>
</section>

<mat-divider></mat-divider>
<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards"> -->
<section>

    <div class="grid-container">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let card of countercards | async" [colspan]="card.cols" [rowspan]="card.rows">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>{{card.title}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <div>Card Content Here</div>
                      </mat-card-content>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
    </div>

</section>




<!-- </div> -->

<mat-divider></mat-divider>
<section>
    <div class="grid-container">
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile>
                <mat-card class="dashboard-card">
                    <mat-card-header><mat-card-title>Vehicle Information</mat-card-title></mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <div>Card Content Here</div>
                      </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list> 
        <!-- <mat-card>
            Vehicle Information
        </mat-card> -->

    </div>
</section>

<mat-divider></mat-divider>
<section>
    <div class="grid-container">
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile>
                <mat-card class="dashboard-card">
                    <mat-card-header><mat-card-title>Driver Information</mat-card-title></mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <div>Card Content Here</div>
                      </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list> 
        <!-- <mat-card>
            Driver Information
        </mat-card> -->

    </div>
</section>