<br>
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="30px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-cardchart></app-widget-cardchart>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-cardchart></app-widget-cardchart>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-cardchart></app-widget-cardchart>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-cardchart></app-widget-cardchart>
    </mat-card>
</div>
<br>
<mat-divider></mat-divider>
<br>

<div>
    <app-widget-areachart></app-widget-areachart>
</div>
<br>
<mat-divider></mat-divider>
<br>


<mat-divider></mat-divider>

<div>
    <div>Table</div>
    <div>Pie Chart</div>
</div>