<div class="grid-container">
    <div fxLayout="row" fxLayoutAlign="center">
        <mat-card class="dashboard-card">

            <mat-card-header>
                <mat-icon>airport_shuttle</mat-icon>
                <mat-card-title>{{registermode}}</mat-card-title>

                <mat-card-subtitle>Registration</mat-card-subtitle>
                <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                    <div fxLayoutGap="20px">
                        <button mat-raised-button (click)="submit()" color="primary">Submit</button>
                    </div>

                </div>
            </mat-card-header>

            <mat-card-content class="dashboard-card-content">
                <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px" class="stats-cards">
                    <div class="" fxFlex="1 1 auto">
                        <p>
                            <mat-form-field class="form-field" appearance="standard">
                                <mat-label>Driver Full Name</mat-label>
                                <input matInput placeholder="Full Name">
                                <mat-icon matSuffix>portrait</mat-icon>
                                <mat-hint>Devide Gutter</mat-hint>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="form-field" appearance="standard">
                                <mat-label>Home Address</mat-label>
                                <input matInput placeholder="Home Address">
                                <mat-icon matSuffix>house</mat-icon>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="form-field" appearance="standard">
                                <mat-label>Gender</mat-label>
                                <input matInput placeholder="Gender">
                                <mat-icon matSuffix>transgender</mat-icon>
                                <mat-hint>(Male / Female / other)</mat-hint>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="form-field" appearance="standard">
                                <mat-label>Diver License Number</mat-label>
                                <input matInput placeholder="License Number">
                                <mat-icon matSuffix>credit_score</mat-icon>
                                <mat-hint>B123456</mat-hint>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="form-field" appearance="standard">
                                <mat-label>NIC Number</mat-label>
                                <input matInput placeholder="NIC Number">
                                <mat-icon matSuffix>credit_card</mat-icon>
                                <mat-hint>123456789 V</mat-hint>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Mobile Number</mat-label>
                                <input matInput placeholder="Mobile">
                                <mat-icon matSuffix>phone</mat-icon>
                                <mat-hint>+(94)11 123 4567</mat-hint>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Email Address</mat-label>
                                <input matInput placeholder="Email">
                                <mat-icon matSuffix>mail</mat-icon>
                                <mat-hint>example@email.com</mat-hint>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Blood Group</mat-label>
                                <input matInput placeholder="Blood Group">
                                <mat-icon matSuffix>bloodtype</mat-icon>
                                <mat-hint>B+</mat-hint>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" type="password">
                                <mat-icon matSuffix>password</mat-icon>
                                <mat-hint>Min-(7 digit)</mat-hint>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Re-Password</mat-label>
                                <input matInput placeholder="Password" type="password">
                                <mat-icon matSuffix>password</mat-icon>
                                <mat-hint>Min-(7 digit)</mat-hint>
                            </mat-form-field>
                        </p>
                    </div>
                    <div fxFlex="1 1 auto">

                        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
                            <div class="container row">
                                <div class="col-md-12">
                                    <h1>Upload Vehicle Image</h1>
                                </div>
                            </div>
                            <div class="profile-picture">
                                <img *ngIf="url" width=300 height=300 src="{{url}}" />
                            </div>
                            <div class="container row">
                                <div class="col-md-6">
                                    <input type="file" #fileUpload (change)="onFileChanged($event)" accept="image/*" id="fileUpload" name="fileUpload" multiple="multiple">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>

        </mat-card>
    </div>
</div>